---
import '../styles/global.css'
---
<div class="nav-links">
    <a href="/ArtWebsite/">首页</a>
    <a href="/ArtWebsite/about/">关于</a>
    <a href="/ArtWebsite/blog/">博客</a>
    <a href="/ArtWebsite/tags">标签</a>
</div>
